<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Astron Metal Works Corp | <%= yield(:title) %></title>
  </head>
  <body>
    <div class="center hero-unit">
  <h1>Welcome to the Astron App</h1>

  <h2>
    
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
  </body>
</html>